body {
  background-color: #501b4a;
  color: white;
}

button,
a {
  cursor: pointer;
}

button {
  background-color: #501b4a;
  color: #3eb9bb;
  min-width: 100px;
  min-height: 40px;
  border-radius: 8px;
  margin: 4px;
  border: none;
  outline: none;
}
