.home {
  color: #501b4a;
}

.home-card {
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
  position: relative;
  padding-top: 20px;
  background-color: #3eb9bb;
  min-height: 200px;
  max-width: 250px;
  box-shadow: 0px -1px 4px 4px #3ba0a2;
}

.home-card > h3 {
  margin-bottom: 80px;
}
